/* Global CSS */

body {
	font-family: "lucida grande";
	margin: 0 auto;
}

.website-wrapper, .wrapper, {
	width: 100%;
	overflow: hidden;
}

.background-image-overlay, .background-text-overlay, .content-columns-container {
	width: 100%;
	overflow: hidden;
}

.background-image {
	height: 425px;
	width: 100%;
	background-size: cover;
}

.background-image-overlay {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
}

.content-column {
	width: 85%;
	margin: 10px auto 0 auto;
	padding: 5%;
}

.content-column-header, .content-column-paragraph, .top-header {
	width: 100%;
}

.content-column-header, .top-header {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.content-column-header {
	margin: 2px auto 0 auto;
	font-size: 20px;
	line-height: 28px; /* 1.4x */
	color: #555;
}

.header-underline {
	border: 0;
	height: 2px;
	background-color: #39CD28;
}

.content-column-paragraph {
	width: 90%;
	margin: 0 auto;
	font-size: 16px;
	line-height: 24px; /* 1.5x */
	color: #555;
}

.anchor-space-placeholder {
	height: 60px;
	background-color: #EFF2F3;
}

.top-header {
 	height: 35px;
 	margin: 0px auto 0 auto;
 	padding-bottom: 2px;
	font-size: 16px;
 	color: white;
	background-color: #39CD28;
} 

/* --- Start of Home Page --- */

/* Navigation Bar */

.website-fixed-menu-bar {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: #39CD28;
}

.dropdown-menu-icon {
	height: 50px;
	width: 50px;
	float: left;
	margin-top: 5px;
	margin-left: 2%;
	background-image: url('http://stepupdate.com/assets/svg/icon-hamburger.svg');
	background-size: cover;
}

.fixed-menu-header-container {
	height: 100%;
	width: 70%;
	margin: -60px auto 0 auto;
}

.fixed-menu-header {
	height: 70%;
	width: 100%;
	margin-top: 0;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 15px;
	padding-left: 16px;
	letter-spacing: 2px;
	color: white;
}

.sliding-website-navigation {
	position: absolute;
	display: none;
	height: 175px;
	width: 200px;
	top: 60px;
	background-color: white;
	z-index: 999;
}

.nav-button {
	height: 30px;
	width: 185px;
	margin-top: 10px;
	margin-left: -34px;
	padding-top: 8px;
	font-size: 16px;
	letter-spacing: 1px;
	list-style: none;
	color: #555;
}

.nav-button a {
	text-decoration: none;
	color: #555;
}

/* Home Page Content */

.homepage.background-image {
	background-image: url(http://i58.tinypic.com/28n6b.jpg);
	background-size: cover; 
}

.homepage.background-text-overlay {
	margin: 100px auto 0 auto;
}

.caliber, .strength-and-conditioning, .moto {
	text-align: center;
	letter-spacing: 0.1em
}

.caliber {
	height: 60px;
	width: 275px;
	margin: 0px auto 10px auto;
	padding-top: 16px;
	font-size: 36px;
	text-transform: uppercase;
	color: white;
	letter-spacing: .2em;
	background-color: #39CD28;
}

.strength-and-conditioning {
	height: 30px;
	width: 275px;
	margin: 10px auto 0 auto;
	padding-top: 12px;
	font-size: 15px;
	color: #555;
	background-color: white;
}

.moto {
	height: 25px;
	width: 275px;
	margin: 10px auto 0 auto;
	font-size: 14px; 
	color: white;
}

.homepage.content-columns-container {
	background-color: #EFF2F3;
}

.homepage.content-column {
	background-color: white; 
}

/* --- Start of Training Packages Page --- */

.training-packages {
 	margin-top: 0px;
 	padding-top: 10px;
}

.packages.background-image {
	background-image: url(http://i57.tinypic.com/ivvo21.jpg); /* or http://i59.tinypic.com/6i8aqu.jpg ?*/
	background-size: cover;
	background-position-x: -200px;
}

.packages.background-text-overlay {
	margin: 10px auto 0 auto;
}

.evolve {
	height: 100px;
	width: 275px;
	margin: 50px auto 0 auto;
	letter-spacing: 0.2em;
	text-align: center;
	font-size: 24px;
	line-height: 36px; /* 1.5x */
	color: white;
}

.packages.offered-services {
	color: #555;
	font-size: 16px;
	line-height: 28px;
}

.packages.content-columns-container {
	background-color: #EFF2F3
}

.packages.content-column {
	background-color: white;
}

/* --- Start of Meet the Trainer Page --- */

.meet-the-trainer {
	margin: 0px auto;
 	padding-top: 10px;
}

.about.top-section-wrapper, .about.bottom-section-wrapper, .qualifications-panel-wrapper {
 	width: 100%;
 	margin: 0 auto;
 	overflow: hidden;
 	background-color: #EFF2F3;
}

.qualifications-panel-wrapper {
 	background-color: white;
}

/* Bio Content */

.bio.background-image {
	width: 95%;
	margin: 10px auto;
	background-image: url(http://i59.tinypic.com/8zr0y1.jpg);
	background-size: 100%, auto;
	background-position: 0% 10%;
	overflow: hidden;
}

.bio.background-image-overlay {
	margin: 355px auto 0 auto;
	height: 45px;
	background-color: rgba(0,0,0,0.90);	
}

.bio.trainer-name {
	margin: 12px auto 0 auto;
	font-size: 16px;
	letter-spacing: 0.1em;
	color: white;
	text-align: center;
}

/* Certification/Education Panels */

.certifications-header, .education-header {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 2%;
	font-size: 18px;
	text-align: center;
}

.certifications-column, .education-column {
	height: 180px;
	width: 85%;
	margin: 10px auto;
	padding: 5%;
	font-size: 16px;
	line-height: 24px;
	color: #555;
	background-color: white;
}

.education-column {
	text-align: center;
}

.certification-list, .education-list {
	margin: 0 auto;
}

/* About Me + Vision Panels */

.about-me-column, .vision-column {
	width: 85%;
	margin: 10px auto;
	padding: 5%;
	font-size: 16px;
	background-color: white;
}

.about-me-header, .my-vision-header {
	height: 30px;
	width: 100%;
	margin: 2px auto 0 auto;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	color: #555;
}

.vision-paragraph, .about-me-paragraph {
	width: 90%;
	margin: 0 auto;
	padding: 5%;
	font-size: 16px;
	line-height: 24px;
	color: #555;
}

/* --- Media Queries (over 350px) --- */

	@media (min-width: 350px) {

		.homepage.background-image, .packages.background-image {
			height: 450px; /* moved up 25px */
		}

		.homepage.content-column, .packages.content-column {
			margin: 15px auto; /* moved up 5px */
		}

		.homepage.content-column-header, .packages.content-column-header {
			font-size: 22px; /* original 20px */
		}

		.packages.background-image {
			background-position-x: -180px;
		}

		.qualifications-panel-wrapper {
		 	width: 95%;
		 	margin: 0 auto;
		 	overflow: hidden;
		}

		.certifications-header, .education-header {
			width: 100%;
			margin: 0 auto;
			padding-bottom: 3%;
			font-size: 18px;
			text-align: center;
		}

		.certifications-column, .education-column {
			height: 200px;
			width: 90%;
			padding: 5%;
			font-size: 16px;
			line-height: 24px;
		}
	} /* End of @media (min-width: 350px) */


		@media (min-width: 450px) {

			.homepage.background-image, .packages.background-image {
				height: 475px; /* moved up 25px */
			}

			.homepage.background-text-overlay {
				width: 350px;
			}

			.homepage.content-column-header, .packages.content-column-header {
				font-size: 24px; /* original 20px */
			}

			.caliber { 
				height: 65px; /* moved up 5px */
				width: 280px; /* moved up 5px */
				padding-top: 20px; /* moved up 4px */
				font-size: 38px; /* moved up 2px */
			}

			.evolve {
				width: 290px; /* Moved up 15px */
				font-size: 26px; /* Moved up 2px */
				line-height: 39px; /* 1.5x */
			}

			.certifications-column, .education-column {
				display: inline-block;
				vertical-align: top;
				width: 40%;
				float: left;
				height: 200px;
			}
		} /* End of @media (min-width: 450px) */


			@media (min-width: 550px) {

				.homepage.background-image, .packages.background-image {
					height: 500px; /* moved up 25px */
				}

				.homepage.content-column-header, .packages.content-column-header {
					font-size: 24px;
				}

				.homepage.content-column, .packages.content-column {
					padding-top: 3.5%; /* moved down 1.5% */
					margin: 20px auto; /* moved up 5px */
				}

				.caliber { 
					height: 70px; /* moved up 5px */
					width: 285px; /* moved up 5px */
					padding-top: 24px; /* moved up 4px */
					font-size: 40px; /* moved up 2px */
				}

				.packages.background-image {
					background-position-x: -150px;
				}

				.evolve {
					width: 305px; /* Moved up 15px */
					font-size: 28px; /* Moved up 2px */
					line-height: 39px; /* 1.4x */
				}

			} /* End of @media (min-width: 680px) */


				@media (min-width: 650px) {

					.homepage.background-image, .packages.background-image {
						height: 525px; /* moved up 25px */
					}

					.homepage.content-column, .packages.content-column {
						width: 565px;
					}

					.caliber { 
						height: 75px; /* moved up 5px */
						width: 300px; /* moved up 15px */
						padding-top: 28px; /* moved up 4px */
						font-size: 42px; /* moved up 2px */
					}

					.packages.background-image {
						background-position-x: -125px;
					}

					.about.bottom-section-wrapper, .about.top-section-wrapper {
					 	display: inline-block;
						vertical-align: top;
						height: 925px;
					 	width: 50%;
					 	float: right;
					 	padding: 3% 0 5% 0;
					}

					.about-me-column, .bio.background-image {
					 	height: 370px;
					 	width: 85%;
					 	margin: 0 auto;
					}

					.bio.background-image {
					 	width: 95%;
					 	padding: 5% 0;
					 	background-size: cover;
					 	background-position: 20% 0%;
					}

					.vision-column {
					 	height: 430px;
					 	width: 85%;
					 	margin-top: 25px;
					}

					.bio.background-image-overlay {
					 	width: 100%;
					 	margin: 345px auto 0 auto;
					}

					.qualifications-panel-wrapper {
					  	height: 430px;
					 	width: 95%;
					 	padding: 1% 0 9% 0;
					 	margin-top: 25px;
					}

					.certifications-column, .education-column {
					 	height: 200px;
					 	width: 90%;
					 	margin: 0 auto 10px auto;
					}

					.certifications-header, .education-header {
					 	font-size: 18px; /* originally 18px */
					 	text-transform: uppercase;
					 	letter-spacing: 0.1em;
					}
				}  /* End of @media (min-width: 650px) */


					@media (min-width: 750px) {

						.homepage.background-image, .packages.background-image {
							height: 550px; /* moved up 25px */
						}

						.caliber { 
							height: 80px; /* moved up 5px */
							width: 315px; /* moved up 15px */
							padding-top: 28px;
							font-size: 44px; /* moved up 2px */
						}

						.packages.background-image {
							background-position-x: -100px;
						}

						.evolve {
							width: 320px; /* Moved up 15px */
							font-size: 30px; /* Moved up 2px */
							line-height: 42px; /* 1.4x */
						}

						.about.bottom-section-wrapper, .about.top-section-wrapper {
							height: 850px;
						}

						.about-me-column, .bio.background-image {
						 	height: 330px;
						}

						.bio.background-image-overlay {
						 	margin: 310px auto 0 auto;
						}

						.vision-column, .qualifications-panel-wrapper {
							height: 400px;
						}

						.certifications-column, .education-column {
						 	height: 160px;
						}
					}  /* End of @media (min-width: 750px) */


							@media (min-width: 850px) {

								.homepage.background-image, .packages.background-image {
									height: 575px; /* moved up 25px */
								}

								.packages.background-image {
									background-position-x: -75px;
								}

								.vision-column, .qualifications-panel-wrapper {
								 	height: 375px;
								}

								.certifications-column, .education-column {
								 	height: 150px;
								}

							}  /* End of @media (min-width: 850px) */


								@media (min-width: 950px) {

									.homepage.background-image, .packages.background-image {
										height: 600px; /* moved up 25px */
									}

									.homepage.content-column-header, .packages.content-column-header {
										font-size: 20px; /* back to original 20px */
									}

									.homepage.content-column, .packages.content-column {
										display: inline-block;
										vertical-align: top;
										float: left;
										height: 400px; /* fixed height */
										width: 22%; /* New fixed width */
										margin: 4% 0% 3% 1%; /* moved up 5px */
									}

									.packages.background-image {
										background-position-x: -25px;
									}

									.packages.background-text-overlay {
										margin-top: 20px;
									}

									.packages.content-column {
										height: 585px;
									}

									.about.bottom-section-wrapper, .about.top-section-wrapper {
										height: 790px;
									}

									.about-me-column, .bio.background-image {
									 	height: 280px;
									}

									.bio.background-image-overlay {
									 	margin: 265px auto 0 auto;
									}

									.vision-column, .qualifications-panel-wrapper {
									 	height: 350px;
									}

									.certifications-column, .education-column {
									 	height: 140px;
									}
								}  /* End of @media (min-width: 950px) */


									@media (min-width: 1050px) {

										.homepage.background-image, .packages.background-image {
											height: 625px; /* moved up 25px */
										}

										.homepage.content-column-header, .packages.content-column-header {
											font-size: 23px; /* original 20px */
										}

										.homepage.content-column {
											height: 360px;
										}

										.homepage.background-text-overlay { 
											margin-top: 110px;
										}

										.packages.background-image {
											background-position-x: 0px;
										}

										.packages.background-text-overlay {
											margin-top: 30px;
										}

										.packages.content-column {
											height: 525px;
										}

										.about.bottom-section-wrapper, .about.top-section-wrapper {
											height: 775px;
										}

										.vision-column, .qualifications-panel-wrapper {
										 	height: 325px;
										}
									}  /* End of @media (min-width: 1050px) */


											@media (min-width: 1150px) {

												.homepage.background-image, .packages.background-image {
													height: 650px; /* moved up 25px */
												}

												.homepage.content-column {
													height: 325px;
												}

												.packages.content-column {
													height: 465px;
												}

												.about.bottom-section-wrapper, .about.top-section-wrapper {
													height: 750px;
												}

												.about-me-column, .bio.background-image {
												 	height: 250px;
												}

												.bio.background-image {
													background-position: 40% 10%;
												}

												.bio.background-image-overlay {
												 	margin: 240px auto 0 auto;
												}
											}  /* End of @media (min-width: 1150px) */

												@media (min-width: 1250px) {

													.homepage.content-column {
														height: 300px;
													}

													.packages.content-column {
														height: 425px;
													}
												}  /* End of @media (min-width: 1250px) */


													@media (min-width: 1400px) {

														.homepage.content-column {
															height: 280px;
														}

														.packages.content-column {
															height: 385px;
														}
													}  /* End of @media (min-width: 1400px) */








































