/* Global CSS */

body {
	font-family: "lucida grande";
	margin: 0;
	padding: 0;
}

/* /////---------------------

	Background-images, -overlay, -text

/////---------------------- */

.section-break {
	margin-top: 60px;
	width: 100%;
}

.background-image {
	position: relative;
	overflow: hidden;
}

.background-overlay {
	width: 100%;
	height: 100%;
}

.background-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.35);
}

.overlay-text {
    max-width: 375px;
    margin: 12px auto 0 auto;
}

/* /////---------------------

	content-columns

/////---------------------- */

.content-wrapper {
	margin: 0;
	padding: 0;
	background-color: #EFF2F3;
}

.content-column {
	margin: 10px auto 0 auto;
	background-color: #EFF2F3;
	color: #555;
}

.outer-column {
	margin: 25px auto;
	max-width: 500px;
	padding: 25px;
	background-color: white;
}

.column-header {
	margin: 0 auto;
	text-align: center;
}

.header-underline {
	border: 0;
	height: 2px;
	background-color: #39CD28;
}

.inner-column {
	font-size: 16px;
	line-height: 24px;
}


/*

.content-column-header, .content-column-paragraph, .top-header {
	width: 100%;
}

.content-column-header, .top-header {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}


.anchor-space-placeholder {
	height: 60px;
	background-color: #EFF2F3;
}

.top-header {
 	height: 35px;
 	margin: 0px auto 0 auto;
 	padding-bottom: 2px;
	font-size: 16px;
 	color: white;
	background-color: #39CD28;
} */

/* /////---------------------

	Sticky Header 

/////---------------------- */

.sticky-header {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: #39CD28;
	z-index: 1;
}

.dropdown-hamburger {
	height: 50px;
	width: 50px;
	float: left;
	margin-top: 5px;
	background-image: url(http://stepupdate.com/assets/svg/icon-hamburger.svg);
	background-size: cover;
}

.slidedown-logo {
	height: 100%;
	width: 70%;
	margin: -60px auto 0 auto;
}

.sliding-logo-text {
	height: 70%;
	width: 100%;
	margin-top: 0;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 15px;
	padding-left: 15px;
	letter-spacing: 2px;
	color: white;
}

.website-navigation {
	position: absolute;
	display: none;
	width: 320px;
	top: 60px;
	left: 0;
	background-color: #7BFF6C;
	z-index: 999;
}

.website-navigation ul {
	margin: 0;
	padding: 0;
}

.nav-button {
	margin: 0;
	list-style: none;
	color: #182B16;
	text-align: center;
}

.nav-button:hover {
	background-color: #39CD28;
}

.nav-button a {
	display: block;
	font-size: 16px;
	padding: 12px;
	text-decoration: none;
	color: #182B16;
}

.nav-button:hover a {
	text-decoration: none;
	color: white;
}

/* /////---------------------

	Home page

/////---------------------- */


.caliber, .strength-and-conditioning, .moto {
	text-align: center;
	letter-spacing: 0.1em
}

.caliber {
	height: 60px;
	width: 275px;
	margin: 0px auto 10px auto;
	padding-top: 8px;
	font-size: 36px;
	text-transform: uppercase;
	color: white;
	letter-spacing: .2em;
	background-color: #39CD28;
}

.strength-and-conditioning {
	height: 30px;
	width: 275px;
	margin: 10px auto 0 auto;
	padding-top: 4px;
	font-size: 16px;
	color: #555;
	background-color: white;
}

.moto {
	height: 30px;
	width: 275px;
	margin: 10px auto 0 auto;
	font-size: 15px; 
	color: white;
}

.homepage.content-columns-container {
	background-color: #EFF2F3;
}

.homepage.content-column {
	background-color: white; 
}

/* --- Start of Training Packages Page --- */

.training-packages {
 	margin-top: 0px;
 	padding-top: 10px;
}

.packages.background-image {
	background-image: url(http://i57.tinypic.com/ivvo21.jpg); /* or http://i59.tinypic.com/6i8aqu.jpg ?*/
	background-size: cover;
	background-position-x: -200px;
}

.packages.background-text-overlay {
	margin: 10px auto 0 auto;
}

.evolve {
	height: 100px;
	width: 275px;
	margin: 50px auto 0 auto;
	letter-spacing: 0.2em;
	text-align: center;
	font-size: 24px;
	line-height: 36px; /* 1.5x */
	color: white;
}

.packages.offered-services {
	color: #555;
	font-size: 16px;
	line-height: 28px;
}

.packages.content-columns-container {
	background-color: #EFF2F3
}

.packages.content-column {
	background-color: white;
}

/* --- Start of Meet the Trainer Page --- */

.meet-the-trainer {
	margin: 0px auto;
 	padding-top: 10px;
}

.about.top-section-wrapper, .about.bottom-section-wrapper, .qualifications-panel-wrapper {
 	width: 100%;
 	margin: 0 auto;
 	overflow: hidden;
 	background-color: #EFF2F3;
}

.qualifications-panel-wrapper {
 	background-color: white;
}

/* Bio Content */

.bio.background-image {
	height: 400px;
	width: 95%;
	margin: 10px auto;
	background-image: url(http://i.imgur.com/pA1O4lE.jpg?1);
	background-size: cover;
	background-position-x: 40%;
	overflow: hidden;
}

.bio.background-image-overlay {
	margin: 355px auto 0 auto;
	height: 45px;
	background-color: rgba(0,0,0,0.90);	
}

.bio.trainer-name {
	margin: 12px auto 0 auto;
	font-size: 16px;
	letter-spacing: 0.1em;
	color: white;
	text-align: center;
}

/* Certification/Education Panels */

.certifications-header, .education-header {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 2%;
	font-size: 18px;
	text-align: center;
}

.certifications-column, .education-column {
	height: 180px;
	width: 85%;
	margin: 10px auto;
	padding: 5%;
	font-size: 16px;
	line-height: 24px;
	color: #555;
	background-color: white;
}

.education-column {
	text-align: center;
}

.certification-list, .education-list {
	margin: 0 auto;
}

/* About Me + Vision Panels */

.about-me-column, .vision-column {
	width: 85%;
	margin: 10px auto;
	padding: 5%;
	font-size: 16px;
	background-color: white;
}

.about-me-header, .my-vision-header {
	height: 30px;
	width: 100%;
	margin: 2px auto 0 auto;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	color: #555;
}

.vision-paragraph, .about-me-paragraph {
	width: 90%;
	margin: 0 auto;
	padding: 5%;
	font-size: 16px;
	line-height: 24px;
	color: #555;
}

/* --- Media Queries (over 350px) --- */


					@media (min-width: 768px) {

						.homepage.background-image, .packages.background-image {
							height: 550px; /* moved up 25px */
						}

						.caliber { 
							height: 100px;
						    width: 315px;
						    padding-top: 20px;
						    font-size: 45px;
						}

						.packages.background-image {
							background-position-x: -100px;
						}

						.evolve {
							width: 320px; /* Moved up 15px */
							font-size: 30px; /* Moved up 2px */
							line-height: 42px; /* 1.4x */
						}



						.inner-column {
							  
						}

						.about.bottom-section-wrapper, .about.top-section-wrapper {
							height: 850px;
						}

						.about-me-column, .bio.background-image {
						 	height: 330px;
						}

						.bio.background-image-overlay {
						 	margin: 310px auto 0 auto;
						}

						.vision-column, .qualifications-panel-wrapper {
							height: 400px;
						}

						.certifications-column, .education-column {
						 	height: 160px;
						}
					}  /* End of @media (min-width: 750px) */
























