/* /////---------------------

	Global CSS 

	(original color: #39CD28; new color: #28cbdc; #283A3E
	(imgs: http://i.imgur.com/JZnfkvi.jpg?1)

/////---------------------- */

body {
	font-family: "lucida grande";
	margin: 0;
	padding: 0;
}

/* /////---------------------

	Section Styling

/////---------------------- */

.section-wrapper {}
.section-stripe {
	background: #f8f8f8;
	padding: 25px;
}
.section-identifier {
	margin: 0;
}
.section-jumbotron {
	margin-bottom: 0;
}
.section-jumbotron h1 {
	text-transform: uppercase;
}
.section-description-panel {
	padding: 35px 15px;
	text-align: center;
	background: #e6e6e6;
}
.section-body {
	margin-bottom: 25px;
	line-height: 22px;
}
.section-list {
	margin:  0;
	padding: 0;
	list-style: none;
}
.list-content-wrapper {
	margin:  25px auto;
}
.list-icon-wrapper {}
.list-icon {
	font-size: 24px;
}
.list-content-header {
	margin-top: 10px;
	text-transform: uppercase;
}
.list-content-body {
	line-height: 22px;
}

/* /////---------------------

	Navbar

/////---------------------- */

.caliber-navbar {
	margin: 0 15px 0;
}

/* /////---------------------

	About Section

/////---------------------- */

section.about {
	margin-top: 50px;
}

/* /////---------------------

	Training Packages

/////---------------------- */


/* /////---------------------

	Meet the Trainer

/////---------------------- */


/* /////---------------------

	Contact Page

/////---------------------- */



/* ----------------------------------------------------- Media Queries (over 350px) ----------------------------------------------------- */


@media (min-width: 410px) {

	.section-description-panel {
		padding: 65px 45px;
	}

}



















