/* /////---------------------

	Global CSS 

	(original color: #39CD28; new color: #28cbdc; #283A3E
	(imgs: http://i.imgur.com/JZnfkvi.jpg?1)

/////---------------------- */

body {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
a, p {
	font-family: 'Open Sans', sans-serif;
}

/* /////---------------------

	Section Styling

/////---------------------- */

.section-wrapper {}
.section-stripe {
	background: #f8f8f8;
	padding: 25px;
}
.section-identifier {
	margin: 0;
	text-transform: uppercase;
}
.section-jumbotron {
	margin-bottom: 0;
	text-align: center;
}
.section-jumbotron h1 {
	text-transform: uppercase;
}
.section-description-panel {
	padding: 35px 15px;
	text-align: center;
	background: #e6e6e6;
}
.section-header {
	margin-bottom: 25px;
	text-align: center;
	text-transform: uppercase;
}
.section-body {
	margin-bottom: 25px;
	line-height: 22px;
}
.section-list {
	margin:  0;
	padding: 0;
	list-style: none;
}
.list-content-wrapper {
	margin:  25px auto;
}
.list-icon-wrapper {}
.list-icon {
	font-size: 24px;
}
.list-content-header {
	margin-top: 10px;
	text-transform: uppercase;
}
.header-underscore {
	border: 0;
	background: #333;
    height: 5px;
    width: 25px;
}
.list-content-body {
	line-height: 22px;
}

/* /////---------------------

	Navbar

/////---------------------- */

.caliber-navbar {
	margin: 0 15px 0;
}
.navbar-brand {
	text-transform: uppercase;
}

/* /////---------------------

	About Section

/////---------------------- */

section.about {
	margin-top: 50px;
}

/* /////---------------------

	Training Packages

/////---------------------- */


/* /////---------------------

	Meet the Trainer

/////---------------------- */

.bio-panel {
	padding: 0 15px;
	background-color: #e6e6e6;
}
.bio-image-wrapper {
	max-width: 450px;
	margin: 25px auto;
}
.bio-content-panel {
	text-align: center;
}
.experience-panel {
	background-color: #e6e6e6;
	text-align: center;
}
.nested-experience-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* /////---------------------

	Contact Page

/////---------------------- */



/* ----------------------------------------------------- Media Queries (over 350px) ----------------------------------------------------- */


@media (min-width: 400px) {

	.section-jumbotron {
		text-align: left;
	}
	.section-description-panel {
		padding: 65px 45px;
	}
	.bio-panel {
		padding: 0 45px;
	}
	.bio-image-wrapper {
		margin: 35px auto;
	}

}

@media (min-width: 768px) {

	.bio-image-wrapper {
		margin: 45px auto;
	}
}

@media (min-width: 992px) {

	.section-body {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 35px;
	}
	.list-content-body {
		font-size: 16px;
		line-height: 24px;
	}
	.section-description-panel {
		padding: 85px 45px;
	}
	.bio-panel {
		padding: 0 45px;
	}
	.bio-content-panel {
		margin: 45px auto;
	}

}



















